:root{
    --bs-primary: #f84e5d;
    --bs-primary-rgb: 248,78,93;
}

.btn.btn-primary{
    background-color: #f84e5d;
    border-color: #f84e5d;
}
.btn.btn-primary:hover{
    background-color: #d63d4f;
    border-color: #d63d4f;
}
.btn.btn-primary:focus{
    box-shadow: 0 0 0 .25rem rgba(248,78,93,.35);
}

.btn-secondary {
    background-color: #fbb0b8;
    border-color: #fbb0b8;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #f84e5d;
    border-color: #f84e5d;
}


.nav-link {
    color: #f84e5d !important;
}

.nav-link:hover,
.nav-link:focus {
    color: #d93a48 !important;
}

.nav-link.active {
    color: #fefdfd !important;
    font-weight: bold;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link{
    background-color: #f84e5d;
    color: #fff;
}